page-home {
    ion-card img {
        display: block;
        width: 100%;
    }
  
    ul {
      padding-left: 0;
      column-count: 2;
    }
  
    .segment-bar {
      background-color: color($colors, bar);
      padding: 6px;
    }
  
    .toolbar-background {
      border: 0 !important;
    }
  
    .header-md::after {
      background-image: none;
    }
  }
  